<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- NAVBAR START  -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light mynav">
        <a class="navbar-brand" href="#">Google Play <span style="color: orange;"> Music </span> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
         <div class="collapse navbar-collapse" id="navbarSupporteContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Signup <span class="sr-only">(current)</span></a>
            </li>
         <div class="collapse navbar-collapse" id="navbarSupportContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> LogIn <span class="sr-only">(current)</span></a>
            </li>
          <div class="collapse navbar-collapse" id="navbarSupporContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">player <span class="sr-only">(current)</span></a>
            </li>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">rap generator <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Music" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <img src="images/42917293.jpg" class="ml-3 user-image">
          </form>
        </div>
      </nav>
    <!-- NAVBAR END   -->


    <!-- CONTENT START  -->

    <div class="container-fluid mt-1 main_container p-5">
        <div class="container"> <br>

            <h2 class="text-white"> Wednesday Morning </h2>
            <hr width="120px" class="hr_line" >
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/music.png" alt="Snow" class="p-4 music-image w-100 h-100">
                </div>
                <div class="col-md-4">
                    <img src="/static/images/music2.png" alt="Snow" class="p-4 music-image w-100 h-100">
                </div>
                <div class="col-md-4">
                    <img src="/static/images/music5.jpg" alt="Snow" class="p-4 music-image w-100 h-100">
                </div>
            </div>
        </div>

        <div class="container"> <br>
          <h2 class="text-white"> Relaxing </h2>
          <hr width="120px" class="hr_line" >
          <div class="row">
              <div class="col-md-4 ">
                  <img src="/static/images/music3.jpg" alt="Snow" class="p-4 music-image w-100 h-100">
              </div>
              <div class="col-md-4 ">
                  <img src="/static/images/music6.jpg" alt="Snow" class="p-4 music-image w-100 h-100">
              </div>
              <div class="col-md-4 ">
                  <img src="/static/images/music2.png" alt="Snow" class="p-4 music-image w-100 h-100">
              </div>
          </div>
          <br>
      </div>
    </div>

    <!-- CONTENT END    -->


    <!-- FOOTER START  -->

    <footer id="footer">
      <div class="container">
          <div class="row footer_div ">
            <div class="col-md-1 col-12 col">
               <button class="btn mt-2 btn-secondary my-btn">   Prev  </button>
            </div>
            <div class="col-md-4">
              <audio class=""  controls src="http://www.ektoplazm.com/mp3/cybered-and-opsy-children-of-paradise.mp3"></audio>
            </div>
            <div class="col-md-1">
              <button class="btn mt-2 btn-secondary my-btn2">   Next   </button>
            </div>
          </div>
      </div>
      <br>
    </footer>



    <!-- FOOTER END  -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>